<h1>Your Coach Answered</h1>

<p>Your question:</p>
<p><%= @question %></p>

<p>Coach's Answer:</p>
<p><%= @answer %></p>

<p>Ask another question:</p>
<%= link_to "Ask another question", ask_path %>
